$third-background-color: #1F8EE5;
$icon-bg-color: #114F7F;

.sidebar{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 35px;
  height: 100vh;
  background: $third-background-color;
}

.firstsidebaricon{
  width: 35px;
  height: 35px;
  background: $icon-bg-color;
  font-size: 18px;
}

.sidebaricon{
  width: 35px;
  height: 35px;
  font-size: 18px;
  background: transparent;
}

.sidebaricon:hover{
  cursor: pointer;
  background: $icon-bg-color;
}

.sidebariconbottom{
  position: absolute;
  bottom: 0;
  left: 0;
}

.firsticonself{
  padding: 7px;
}

.iconself{
  padding: 9px;
}

.userfield{
  width: 250px;
  height: auto;
  min-height: 200px;
  background: $icon-bg-color;
  position: absolute;
  top: 35px;
  left: 37px;
  display: block;
}

.roomfield{
  width: 250px;
  height: auto;
  min-height: 200px;
  background: $icon-bg-color;
  position: absolute;
  top: 370px;
  left: 37px;
  display: block;
}

.padder{
  padding: 10px;
}
