$third-background-color: #1F8EE5;
$icon-bg-color: #114F7F;

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

@mixin transition($ms, $who, $animation) {
  -webkit-transition: $ms $who $animation;
  -moz-transition: $ms $who $animation;
  -ms-transition: $ms $who $animation;
  -o-transition: $ms $who $animation;
  transition: $ms $who $animation;
}

.sidebar{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 35px;
  height: 100vh;
  background: $third-background-color;
}

.firstsidebaricon{
  width: 35px;
  height: 35px;
  background: $icon-bg-color;
  font-size: 18px;
}

.sidebaricon{
  width: 35px;
  height: 35px;
  font-size: 18px;
  background: transparent;
}

.sidebaricon:hover{
  cursor: pointer;
  background: $icon-bg-color;
}

.sidebariconbottom{
  position: absolute;
  bottom: 0;
  left: 0;
}

.firsticonself{
  padding: 7px;
}

.iconself{
  padding: 9px;
}

.userfield{
  width: 250px;
  height: auto;
  min-height: 200px;
  background: $third-background-color;
  position: absolute;
  top: 35px;
  left: 37px;
  display: block;
  z-index: 500;
}

.bgcolor{
  background: $icon-bg-color;
}

.roomfield{
  width: 250px;
  height: auto;
  min-height: 200px;
  background: transparent;
  position: absolute;
  top: 370px;
  left: 37px;
  display: block;
  z-index: 500;
}

.roomitem{
  background: $icon-bg-color;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 12px;
  @include transition(250ms, all, ease);
}

.roomitem:hover{
  background: $third-background-color;
  cursor: pointer;
  @include scale(1.1);
}

.padder{
  padding: 10px;
}

#newroominput{
  width: 73%;
  height: 30px;
  background: transparent;
  border-right: 1px solid $third-background-color;
  border-left: none;
  border-top: none;
  border-bottom: none;
  color: #fff;
  padding-left: 5px;
  font-size: 12px;
}

#createnewroom{
  color: #fff;
  background: $icon-bg-color;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 22%;
  height: 30px;
}

#createnewroom:hover{
  background: $third-background-color;
}

.bgcolorroom{
  background: $third-background-color;
  height: 25px;
  padding-top: 12px;
}

.fontsize{
  font-size: 12px;
}
