<div class="roomcontainerhead">
  <h1 class="center white fontweightthin"><i class="fa fa-comments"></i> chatMe</h1>
</div>
<div class="chatEntryPanel">
  <div class="selectUsername">
    <form>
      <input type="text" placeholder="Insert username" class="inputuser" ng-model="username">
      <button class="submitUser" ng-click="setUser(username)">OK</button>
    </form>
  </div>
  <div class="usererror">
    <p class="nomargin pad">Sorry, user already exists</p>
  </div>
  <div class="rooms">
    <p class="white center">Select chatroom</p>
    <button class="room" ng-repeat="room in rooms" ng-click="selectRoom(room)">{{room}}</button>
  </div>
</div>
