<div class="sidebar">
  <div class="firstsidebaricon">
    <i class="firsticonself fa fa-comments"></i>
  </div>
  <div class="sidebaricon">
    <i class="iconself fa fa-user"></i>
  </div>
  <div class="sidebaricon">
    <i class="iconself fa fa-sign-out"></i>
  </div>
  <a href="https://github.com/cebrakadabra/ES6_chat" target="blank" class="custom-link">
    <div class="sidebaricon sidebariconbottom">
      <i class="iconself fa fa-github"></i>
    </div>
  </a>
</div>

<div class="userfield">
  <div class="padder">
    <p class="nomargin">Users online:</p>
  </div>
  <div class="padder">
    <!-- <div id="users"></div> -->
    <p ng-repeat="user in users">{{user.name}}<br><small>in {{user.room}}</small></p>
  </div>
</div>

<div class="roomfield">
  <form>
    <input type="text" placeholder="Create a new room" id="newroominput" ng-model="newroom" ng-enter="createNewRoom(newroom)">
    <input type="button" id="createnewroom" ng-click="createNewRoom(newroom)" value="Create">
  </form>
  <br>
  <br>
  <div class="padder">
    <p>current room: {{currentroom}}</p>
    <p ng-repeat="room in roomlist" ng-click="switchRoom(room)">{{room}}</p>
  </div>
  <div id="rooms"></div>
</div>
